body
{
    font-family: 'Special  Elite', cursive;
    background-color: azure;
}

.header_div
{
    background: lightskyblue;
    color: palevioletred;
}

.header_div p
{
    font-family: 'roboto',sans-serif;
    color: lightslategray;
    letter-spacing: 2px;
font-size: 12px;
font-weight: bold;
}

.main_div button
{
    font-family: 'roboto',sans-serif;
    margin-top: 30px;
    width: 130;
    font-weight: bolder;
    letter-spacing: 3px;
}

.copy_right_footer
{
    position: fixed;
    color: lightsteelblue;
    bottom: 0;
    width: 100%;
font-size: 18px;
background-color: aliceblue;
line-height: 3;
text-align: center;
text-shadow: 5px 5px 5px rgb(151,149,149);
}